.root {
  border-radius: 5px;
  background: rgb(166, 10, 56);
  background: linear-gradient(
    90deg,
    rgba(166, 10, 56, 1) 0%,
    rgba(238, 11, 36, 1) 51%,
    rgba(181, 56, 9, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
