.user_info {
  margin-bottom: 10px;

  h1.user_nickname {
    font-size: 32px;
    font-weight: 700;
    color: #0c120c;
    margin-bottom: 10px;
    letter-spacing: 0.025em;
    color: #0aecb3;
  }
  h2.user_fullname {
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #0c120c;
  }
}
