.user_cart__button {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #33658a;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.025em;
  border: none;
  border-radius: 15px;
  min-height: 35px;
  width: 150px;
  margin-bottom: 25px;
  transition: all 0.2s ease;
  cursor: pointer;
}
