@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.root {
  border-radius: 5px;
  background-color: #008170;
  background: rgb(25, 124, 77);
  background: linear-gradient(
    90deg,
    rgba(25, 124, 77, 1) 0%,
    rgba(11, 238, 173, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Montserrat", sans-serif;

  a {
    color: #fff;
  }
}

.navlist {
  display: flex;
  justify-content: space-around;

  .logo {
    width: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    cursor: default;

    img.logo_img {
      width: 40px;
      height: 40px;
      align-items: center;
    }
  }
}
